.BannerName {
  position: relative;
  top: calc(-1 * clamp(1px, 3.75vw, 50px));
  font-size: clamp(1px, 7.5vw, 100px);
  line-height: clamp(1px, 7.5vw, 100px);
  font-weight: 900;
  white-space: nowrap;
  background: linear-gradient(to bottom, white 50%, #aacdfc 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 100% 200%;
  transition: background-size 0.8s;
  transition-delay: 0.4s;
}

.BannerNameTransitioned {
  background-size: 100% 100%;
}

.BannerSubText {
  font-size: clamp(1px, 4vw, 50px);
  white-space: nowrap;
}

.FingerToRight {
  display: inline-block;
  font-size: clamp(32px, 4vw, 100px);
  animation: pointingToRight 1.5s ease-in-out infinite;
  transition: opacity 0.8s;
  transition-delay: 0.4s;
}

.FingerToButtom {
  display: inline-block;
  position: absolute;
  top: 85vh;
  opacity: 0;
  font-size: clamp(32px, 4vw, 100px);
  animation: pointingToButtom 1.5s ease-in-out infinite;
  transition: opacity 0.8s;
  transition-delay: 0.4s;
}

.FadeOutTransition {
  opacity: 0;
}

.FadeInTransition {
  opacity: 1;
}

@keyframes pointingToRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes pointingToButtom {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
