.BannerName {
  font-size: clamp(1px, 7.5vw, 100px);
  font-weight: 900;
  white-space: nowrap;
  background: linear-gradient(to bottom, white 50%, #fdd6d5 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 100% 200%;
  transition: background-size 0.8s;
  transition-delay: 0.4s;
}

.BannerNameTransitioned {
  background-size: 100% 100%;
}

.NavBarElement {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.8s, transform 0.8s;
  transition-delay: 0.4s;
}

.NavBarElementTransitioned {
  opacity: 1;
  transform: translateY(0);
}

.BannerSubText {
  font-size: clamp(1px, 4vw, 100px);
  white-space: nowrap;
  align-self: flex-start;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s, transform 0.8s;
  transition-delay: 0.4s;
}

.BannerSubTextTransitioned {
  opacity: 1;
  transform: translateY(0);
}
